* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
}

.menu {
  width: 30%;
  background-color: #fd8b51;
  padding-top: 15px;
}

.menu ul li {
  padding: 15px;
  font-size: 24px;
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  border: none;
  margin: 15px 0;
  font-size: 24px;
}

.page-content {
  width: 70%;
  background-color: #fbf8ef;
  padding: 15px;
}

.page-content p:first-child,
.menu p:first-child {
  font-size: 30px;
}

p {
  padding: 10px;
}
